<ion-tabs>
  <ion-tab-bar slot="bottom" class="bg-white">
    <ion-tab-button tab="tab1" href="/tabs/tab1" class="[--color:theme(colors.neutral.700)] [--color-selected:theme(colors.primary)]">
      <ion-icon name="home" />
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2" class="[--color:theme(colors.neutral.700)] [--color-selected:theme(colors.primary)]">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chats</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
