<ion-content [fullscreen]="true" class="bg-white">
  <app-topbar
    [logoSrc]="logoSrc"
    [avatarSrc]="avatarSrc"
    (avatarClicked)="goToProfile()"
  ></app-topbar>

  <div class="px-4 py-3 space-y-4">
    <app-course-card
      *ngFor="let c of courses"
      [emoji]="c.emoji"
      [title]="c.title"
      [description]="c.description"
      [professor]="c.professor"
      [period]="c.period"
      [color]="c.color"
      (pressed)="onOpenCourse(c)"
    ></app-course-card>
  </div>
</ion-content>
